<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.flab.movieon.query.modules.account.AccountReader">

  <select id="findByAccountId" parameterType="String" resultType="AccountReadModel">
    SELECT a.account_key as accountId,
           a.email as email,
           a.username as username,
           a.joined_at as joinedAt
    FROM accounts a
    WHERE a.account_key = #{accountId}
  </select>

</mapper>
