<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.flab.movieon.query.modules.account.AccountReader">

  <select id="findByAccountId" parameterType="String"
    resultType="kr.flab.movieon.query.modules.account.AccountReadModel">
    SELECT a.account_id, a.email, a.username
    FROM accounts a
    WHERE account_id = #{accountId}
  </select>
</mapper>
